$pri-txt: #ffffff;
$pri-fnt: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$trns-close-setting: all ease-in-out 0.5s;
$trns-open-setting: all ease-in-out 0.8s;
$col-width: 150px;
$img-width-full: 350px;
$img-width-collapsed: 150px;
$image_open_delay: 0.3s;
$open_delay: 0.5s;
$body-background: #00001a;